@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Set light mode colors */
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-start-rgb: 255, 255, 255; /* White background start */
  --background-end-rgb: 255, 255, 255; /* White background end */
}

@media (prefers-color-scheme: light) {
  :root {
    /* Keep your existing dark mode colors */
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
